@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	background-color: #f7f7f7 ; /*for other purpose use  #eaecef #d4d7de*/
	font-family: 'poppins', verdana;
	margin: 0;
	padding-top: 65px;
}

.navbar-brand{
	margin-left: 20px;
	font-size: 28px;
	font-weight: bold;
}

.nav-item{
	margin-left: 30px;
	font-size: 20px;
}

.container .navbar .navbar-brand{
	font-weight: bold;
}

.collapse .navbar-nav .nav-item .nav-link{
	font-weight: bold;
}

.container .justify-content-md-center{
	margin-top: 20px;
}

.row{
	margin-left: 2px;
	margin-right: 2px;
}

.symbol{
	font-family: aerial;
	font-size: 22px;
}

.btn-secondary{
	font-size: 18px;
}

.btn-primary{
	font-size: 18px;
}

.menu {
    margin-bottom: 16px;
    list-style: none;
    background-color: #fff;
    border: 3px solid #eaecef;
    border-radius: 6px;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #1b1f23;
    border-bottom: 3px solid #eaecef;
}

.menu-item:hover{
	background-color: lightblue;
}

a {
    color: #0366d6;
    text-decoration: none;
    background-color: initial;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

 a:hover{ 
            text-decoration: none; 
} 

* {
    box-sizing: border-box;
}

.menuleftside{
	background-color: #F5CBA7;
}

h1{
	font-size: 26px;
	font-weight: bold;
}

h2{
	font-size: 22px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight: bold;	
}

p{
	font-size: 18px;
	font-weight: 400px; 
}

ul{
	list-style-type: none;
	font-size: 18px;
	font-weight: 400px; 
}

ol{
	font-size: 18px;
	font-weight: 400px;
}

.jumbotron{
	padding: 1rem;
	border-radius: 0;
	font-size: 18px;
	color: red;
}

.volFor{
	border: 1px solid red;
}

.liststyle{
	font-size: 18px;
	font-weight: 400px; 	
}

.padding{
	padding-bottom: 2rem;
}

footer{
	padding-top: 2rem;
	background-color: #D4E6F1;
}

.social a{
	font-size: 2em;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}

.fa-google-plus-g{
	color: #dd4b39;
}

.fa-linkedin-in{
	color: #3b5998;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-linkedin-in:hover{
	color: #d5d5d5;
}

footer a{
	text-decoration: none;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*---Media Queries --*/

@media (min-width: 1200px) { 
	.container .navbar .navbar-brand{
	font-size: 26px;
}
 }


@media (max-width: 992px) {
	h1{
	font-size: 24px;
	font-weight: bold;
}

h2{
	font-size: 22px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight: bold;	
}

p{
	font-size: 18px;
	font-weight: 400px; 
}
.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 26px;
}

.jumbotron{
	font-size: 18px;
}

  }


@media (max-width: 768px) {
	h1{
	font-size: 22px;
	font-weight: bold;
}

h2{
	font-size: 20px;
	font-weight: bold;
}

h3{
	font-size: 18px;
	font-weight: bold;	
}

p{
	font-size: 18px;
	font-weight: 400px; 
}

.jumbotron{
	font-size: 18px;
}

.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 24px;
}

}


@media (max-width: 576px) {
	h1{
	font-size: 20px;
	font-weight: bold;
}

h2{
	font-size: 18px;
	font-weight: bold;
}

h3{
	font-size: 18px;
	font-weight: bold;	
}

p{
	font-size: 16px;
	font-weight: 400px; 
}

.jumbotron{
	font-size: 16px;
	font-weight: 400px;
}

ul{
	list-style-type: none;
	font-size: 16px;
	font-weight: 350px; 
}

ol{
	font-size: 16px;
	font-weight: 350px;
}

.liststyle{
	font-size: 16px;
	font-weight: 350px; 	
}

.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 22px;
}
}