@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




body{
	padding: 0;
	align-content: center;
	background-color: #d4d7de;
	font-family: 'poppins', verdana;
	margin: 0;
	padding-top: 65px;
}

.row{
	margin: 0;
}

.row-cols-md-2{
	margin: 0;
	padding: 0;
	width: 100%;
}

.row-cols-2{
	margin: 0;
	padding: 0;
	width: 100%;
	} 

.row-cols-xs-2{
	margin: 0;
	padding: 0;
	width: 100%;
	} 

.row-cols-sm-2{
	margin: 0;
	padding: 0;
	width: 100%;
	} 
.row-cols-md-2{
	margin: 0;
	padding: 0;
	width: 100%;
}

.row .col .card{
	margin: 0;
	width: 100%;
	height: auto;
}

.row .col .card .image{
	width: 100%;
	height: auto;
}
.navbar-brand{
	margin-left: 20px;
	font-size: 28px;
	font-weight: bold;
}

.nav-item{
	margin-left: 30px;
	font-size: 20px;
}

.container-fluid .navbar .navbar-brand{
	font-weight: bold;
}

.collapse-fluid .navbar-nav .nav-item .nav-link{
	font-weight: bold;
}

.container-fluid .justify-content-md-center{
	margin-top: 20px;
}

.underline{
	width: 100%; 
	height:2px; 
	background-color: orangered;
}

.btn-secondary{
	font-size: 18px;
}

.btn-primary{
	font-size: 18px;
}


h1{
	font-size: 26px;
	font-weight: bold;
}

h2{
	font-size: 22px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight: bold;	
}

h5{
	font-size: 20px;
}


p{
	font-size: 18px;
	font-weight: 400px; 
}

ul{
	list-style-type: none;
	font-size: 18px;
	font-weight: 400px; 
}

ol{
	font-size: 18px;
	font-weight: 400px;
}
.rule{
	height: 3px;
	color: yellow;
}


.jumbotron{
	padding: 1rem;
	border-radius: 0;
	font-size: 18px;
	color: red;
}

.liststyle{
	font-size: 18px;
	font-weight: 400px; 	
}

.padding{
	padding-bottom: 2rem;
}

footer{
	padding-top: 2rem;
}

.social a{
	font-size: 2em;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}

.fa-google-plus-g{
	color: #dd4b39;
}

.fa-linkedin-in{
	color: #3b5998;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-linkedin-in:hover{
	color: #d5d5d5;
}

footer a{
	text-decoration: none;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*---Media Queries --*/
